@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


a {
    text-decoration: none;
    color: #CCDDD3;
}

body {
    background-color: #605F5E;
    color: #CCDDD3;
    font-family: 'Open Sans', sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2.5px;
    padding: 8px;
    margin: 5px;

    position: fixed;
    top: 0;
    right: 0;
}

.contact img {
    width: 5vh;
    height: 5vh;
}

.logo {
    margin: 20px;
    display: flex;
    gap: 8px;
    font-size: 3rem;
    font-weight: 600;
}

.logo img {
    width: 24%;
    animation: blink 1s infinite;
}

.logo img:hover {
    animation: none;
}


@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.projects {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 5px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    height: 30vh;
    width: fit-content;
}

.project:hover {
    animation: infinite smoothShadow 2s;
}

@keyframes smoothShadow {
    0% {
        box-shadow: 0px 0px 2px gray;
    }
    50% {
        box-shadow: 0px 0px 8px grey;
    }
    100% {
        box-shadow: 0px 0px 2px grey;
    }    
}

.project .title {
    font-size: 1.5rem;
}

.pic-card {
    width: 25vh;
    border-radius: 5px;
    height: 25vh;
    perspective: 1000px; 
}
  
.pic-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.pic-card:hover .pic-inner {
    transform: rotateY(180deg);
}

.pic-front, .pic-back {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100;
    backface-visibility: hidden;
}

.pic-back {
    transform: rotateY(180deg);
}

.image {
    height: 25vh;
    object-fit: contain;
    border-radius: 5px;
}

.desc {
    padding: 5px;
}

.title {
    font-weight: 1000;
    opacity: 0.9;
}

.about {
    font-size: 2rem;
    margin: 20px;
}